body{
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  background-color: #171717;
  border-radius: 24px;
  padding: 30px;
}
#files{
  display: none;
}
.inputFile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.input__image{
  margin-top: -3px;
  margin-right: 16px;
  position: relative;
  width: 165.83px;
  height: 165.83px;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}
.imgSvg{
  position: absolute;
  fill: #989898;
  height: 50px;
  width: 50px;

  z-index: -1;
}
.lable{
  z-index: 100;
}
.lable_btn{
  cursor: pointer;
  color: #EDEDED;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid rgb(152, 152, 152);
  padding: 3px 9px;
  border-radius: 5px;
  transition: .3s;
}
.animation_lable{
  animation: inputFile 2s;
}
.lable_btn:hover{
  background-color: rgb(152, 152, 152, .2);
}
.lable p{
  color: #CBCBCB;
  font-size: 14px;
}
.inputText{
  margin-bottom: 20px;
}
.inputText input{
  color: #CBCBCB;
  background-color: #2C2C2C;
  border: none;
  width: calc(100% - 10px);
  height: 30px;
  padding-left: 10px;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgb(152, 152, 152);
  outline: none;
}
.inputText p, .inputTextarea p{
  margin: 0;
  margin-left: 10px;
  padding-top: 5px;
  color: #CBCBCB;
  font-size: 14px;
}
.inputTextarea{
  margin-bottom: 30px;
}
.inputTextarea textarea{
  color: #CBCBCB;
  width: calc(100% - 10px);
  height: calc(100px - 10px);
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  background-color: #2C2C2C;
  border: none;
  border-bottom: 1px solid rgb(152, 152, 152);
  border-radius: 3px 3px 0 0;
  outline: none;
}
.line{
  width: 100%;
  background-color: #565656;
  height: 1px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.buttons a{
  text-align: center;
  color: #CBCBCB;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: .2s;
}
.primary-btn{
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(152, 152, 152);
}
.primary-btn:hover{
  background-color:rgba(152, 152, 152, 0.2);
}
.secondary-btn{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  background-color: #565656;
  border: 1px solid #565656;
}
.animationButtons{
  animation: buttons 2s;
}
.secondary-btn:hover{
  background-color: #646464;
}

/* Animation */

@keyframes inputFile {
  0% {
    padding: 3px 9px;
  }

  16.777% {
    padding: 5px 12px;
  }

  32% {
    padding: 3px 9px;
  }

  48.777% {
    padding: 5px 12px;
  }

  64% {
    padding: 3px 9px;
  }

  80% {
    padding: 5px 12px;
  }

  100% {
    padding: 3px 9px;
  }
}
@keyframes buttons {
  0%{
    padding: 5px 10px;
  }
  16.777%{
    padding: 9px 12px;
  }
  32% {
    padding: 5px 10px;
  }
  48.777% {
    padding: 9px 12px;
  }
  64%{
    padding: 5px 10px;
  }
  80% {
    padding: 9px 12px;
  }
  100% {
    padding: 5px 10px;
  }
}